@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body {
  background-image: url(https://previews.dropbox.com/p/thumb/AAUZH4G-Pc1pO-t9C0vmveNLlySxwOTZQ9WrNWn76AWgaDANusPHxijP1NNAR9IIguqFJmz30foPzG8LxpdBCKPx8KKW-HDnbdLHUb2oaoHP_nmoSigkgvnrlc-ZETDBC9lVL8ibxIypRDjxQvT_0haDrjEqVHyqwLTUE6vrbl6ETYHvIGXLS9XkdZCrB2UKUwUy0Iz-Uv9PsuX0B30NxXexuU9IDy5HW-rKcj9XX8qJXw/p.png?size_mode=5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #0A0635;
  font-family: "Lato", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.App {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.Modal {
  background: #0A0635;
  border-radius: 2px;
  padding: 30px;
  width: 200px;
}

h1 {
  font-size: 10px;
  color: #eee;
  text-align: center;
  padding: 20px 0px 0px 0px;
}

#register {
  color: #D0A1A2;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 500;
  outline: none;
  padding: 0px 9px 10px 11px;
  text-transform: uppercase;
  width: 100%;
}

#forgotpass {
  color: #D0A1A2;
  background: none;
  border: none;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 500;
  outline: none;
  padding: 0px 9px 10px 11px;
  width: 100%;
}

h3 {
  font-size: 20px;
  color: #eee;
  text-align: center;
  padding: 20px 0px 40px 0px;
}

.Input {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.Input input {
  outline: none;
  border: 0;
  color: #ffffff;
  background: transparent;
  font-family: "Lato", sans-serif;
  flex: 1 0 auto;
  font-size: 14px;
}
.Input input:focus ~ label {
  opacity: 1;
}
.Input input[type='text'] ~ label::before {
  content: "\f007";
}
.Input input[type='email'] ~ label::before {
  content: "\f1fa";
}
.Input input[type='password'] ~ label::before {
  content: "\f023";
}
.Input label {
  font-family: FontAwesome;
  font-size: 13px;
  color: #ffffff;
}
.Input label::before {
  align-items: center;
  color: #ffffff;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

#login {
  align-items: center;
  background: #D0A1A2;
  border: 0;
  border-radius: 20px;
  color: white;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  margin-top: 20px;
  outline: none;
  padding: 10px 9px 10px 11px;
  text-transform: uppercase;
  width: 100%;
}
#login .fa {
  font-size: 12px;
  margin-left: auto;
  position: relative;
  top: 1px;
}
#login:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
#login:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.example-enter {
  margin-top: 30px;
  opacity: .01;
}
.example-enter.example-enter-active {
  margin-top: 0px;
  opacity: 1;
  transition: opacity .5s ease, margin .5s ease;
}

.example-leave {
  margin-top: 0px;
  opacity: 1;
}
.example-leave.example-leave-active {
  margin-top: -30px;
  opacity: .01;
  transition: opacity .3s ease, margin .5s ease;
}
